---
import BaseLayout from "../layouts/BaseLayout.astro";

import ContactCTA from "../components/ContactCTA.astro";
import Hero from "../components/Hero.astro";
---

<BaseLayout title="About | Antonio Arjona" description="About Antonio Arjona">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="About" tagline="Automotive Artist">
				<img
					width="1553"
					height="873"
					src="/assets/CaymanCA1.jpg"
					alt="Antonio Arjona"
				/>
			</Hero>

			<section>
				<h2 class="section-title">Bio</h2>
				<div class="content">
					<p>
						Spanish artist living and working in Berlin. Automotive enthusiast merging the fine art and the automotive passion. 
						My works are joining engineering brilliance and artistic expression. Over the years, I have developed a style that captures the spirit 
						of iconic vehicles, honoring their design and legacy. Each piece is an homage to the automotive icons of the past and present.
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Education</h2>
				<div class="content">
					<p>
						New Masters Academy Certificate Program, Art School of Fine Art
					</p>
				</div>
			</section>

			<section>
				<h2 class="section-title">Artistic Style</h2>
				<div class="content">
					<p>
						My artistic approach is rooted in Realism, often infused with Pop Art elements to add a modern edge. 
						I primarily work in acrylics, which allows me to achieve vibrant color palettes and fine detail, essential for capturing the precise textures 
						and reflections characteristic of automotive surfaces.  
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Commisions</h2>
				<div class="content">
					<p>
						I have collaborated with collectors and automotive connoisseurs worldwide, creating bespoke pieces tailored to their personal tastes and preferences. 
						Whether it's for a private collection, a unique centerpiece for a home, or a statement piece for a corporate space, I offer a tailored experience that 
						ensures the final artwork reflects the client's vision. Each commissioned work is crafted to perfection, respecting both the client's specifications and 
						my artistic integrity. All artworks are delivered unframed to maintain flexibility in display.
					</p>
				</div>
			</section>
			<section>
				<h2 class="section-title">Exhibitions</h2>
				<div class="content">
					<p>
						My artwork has been featured in various galleries and automotive exhibitions globally, including events focused on motoring history and 
						design innovation. I am open to collaborations with luxury brands, automotive museums, and high-end car shows, as well as exhibitions where automotive 
						heritage and fine art intersect. If you are an art curator, an event organizer, or an automotive aficionado, I would be delighted to discuss potential 
						partnerships.
					</p>
				</div>
			</section>
		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.about {
		display: flex;
		flex-direction: column;
		gap: 3.5rem;
	}

	img {
		margin-top: 1.5rem;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	section {
		display: flex;
		flex-direction: column;
		gap: 0.5rem;
		color: var(--gray-200);
	}

	.section-title {
		grid-column-start: 1;
		font-size: var(--text-xl);
		color: var(--gray-0);
	}

	.content {
		grid-column: 2 / 4;
	}

	.content :global(a) {
		text-decoration: 1px solid underline transparent;
		text-underline-offset: 0.25em;
		transition: text-decoration-color var(--theme-transition);
	}

	.content :global(a:hover),
	.content :global(a:focus) {
		text-decoration-color: currentColor;
	}

	@media (min-width: 50em) {
		.about {
			display: grid;
			grid-template-columns: 1fr 60% 1fr;
		}

		.about > :global(:first-child) {
			grid-column-start: 2;
		}

		section {
			display: contents;
			font-size: var(--text-lg);
		}
	}
</style>
