---
import { getCollection } from "astro:content";

// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import BaseLayout from "../layouts/BaseLayout.astro";

// Component Imports
import CallToAction from "../components/CallToAction.astro";
import Grid from "../components/Grid.astro";
import Hero from "../components/Hero.astro";
import Icon from "../components/Icon.astro";
import Pill from "../components/Pill.astro";
import PortfolioPreview from "../components/PortfolioPreview.astro";

// Page section components
import ContactCTA from "../components/ContactCTA.astro";
import Skills from "../components/Skills.astro";

// Content Fetching: List four most recent work projects
const projects = (await getCollection("work"))
	.sort((a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf())
	.slice(0, 4);

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<BaseLayout>
	<div class="stack gap-20 lg:gap-48">
		<div class="wrapper stack gap-8 lg:gap-20">
			<header class="hero">
				<Hero
					title="Motorsport Art" 
					tagline="Acrylic painting artwork featuring iconic cars and historic vehicles"
					align="start"
				>

				<div class="roles">
					<Pill>
						<Icon icon="sun" size="1.33em" /> Acrylics
						
					</Pill>
					<Pill>
						<Icon icon="pencil-line" size="1.33em" /> Sketching
					</Pill>
					<Pill>
						<Icon icon="code" size="1.33em" /> Digital Art
					</Pill>
				</div>

				</Hero>

				<img
					alt="Passionate about cars and motorbikes"
					width="480"
					height="620"
					src="/assets/porsche3.jpg"
				/>
			</header>

			<Skills />
		</div>

		<main class="wrapper stack gap-20 lg:gap-48">
			<section class="section with-background with-cta">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>Recent paintings and commissions</h3>
					<p>
						Youngtimers | Oldtimers | Classic cars 
						 
					</p>
				</header>

				<div class="gallery">
					<Grid variant="offset">
						{
							projects.map((project) => (
								<li>
									<PortfolioPreview project={project} />
								</li>
							))
						}
					</Grid>
				</div>

				<div class="cta">
					<CallToAction href="/work/">
						View Gallery
						<Icon icon="arrow-right" size="1.2em" />
					</CallToAction>
				</div>
			</section>

			<section class="section with-background bg-variant">
				<header class="section-header stack gap-2 lg:gap-4">
					<h3>TRIBUTE TO LEGENS OF THE AUTOMOBILE</h3>
					<p>Automotive is not just about craftsmanship, engineering and components, it is also about
						emotion. A classic car is an elegant piece of transportation art. Each paint also represents a trip back in time, allowing you to experience a bygone era. I paint acrylics on thick paper. Available sizes:</p>
				</header>
				<div class="gallery">
					<Grid variant="small">
						{
							[
								"24 x 32 cm",
								"30 x 40 cm",
								"36 x 48cm",
							].map((brand) => (
								<li class="mention-card">
									<p>{brand}</p>
								</li>
							))
						}
					</Grid>
				</div>

			</section>

			<header class="hero">
				<Hero
					title="Get a customized painting"
					tagline="After receiving a photo of the subject you want to get painted, I will sketch it for you to view at the selected size. By agreeing to the terms and specs, your subject will be added to my list of upcoming painting projects."
					align="start"
				>

				</Hero>

				<img
					alt="Artist. Passionate about cars and motorbikes"
					width="480"
					height="620"
					src="/assets/easel2.jpg"
				/>


				                  <!-- Option -->
								  <div class="accordion-option">
									<input
									  type="checkbox"
									  id="toggle2"
									  class="accordion-toggle"
									/>
									<label class="accordion-title" for="toggle2">
									  HOW LONG DOES A CUSTOM PAINTING TAKE?
									</label>
									<div class="accordion-content">
									  <p>
										From beginning to end, paintings usually take about 4-5 weeks. The painting process itself from sketching to paint takes 3 weeks an one more until it's completely dry before apply the final varnishing coat and package it up to be sent off to its new home.
									  </p>
									</div>
								  </div>

				                  <!-- Option -->
								  <div class="accordion-option">
									<input
									  type="checkbox"
									  id="toggle2"
									  class="accordion-toggle"
									/>
									<label class="accordion-title" for="toggle2">
									  WHAT PAINT ARE YOU USING?
									</label>
									<div class="accordion-content">
									  <p>
										Acrylic paint and few other mixed media from quality brands. I do mostly of my paitings in high quality acrylic paper and canvas.
									  </p>
									</div>
								  </div>

								  <!-- Option -->
								  <div class="accordion-option">
									<input
									  type="checkbox"
									  id="toggle2"
									  class="accordion-toggle"
									/>
									<label class="accordion-title" for="toggle2">
									  CAN YOU PAINT MY CAR FOR FREE?
									</label>
									<div class="accordion-content">
									  <p>
										My mission is to create paintings for others and tell stories with no cost, but unfortunately the cost for material alone is not cheap and isn't something I can always luxuriosly afford.
									  </p>
									</div>
								  </div>

								  <!-- Option -->
								  <div class="accordion-option">
									<input
									  type="checkbox"
									  id="toggle2"
									  class="accordion-toggle"
									/>
									<label class="accordion-title" for="toggle2">
									  WHICH SIZE ARE AVAILABLE FOR YOUR PAINTINGS?
									</label>
									<div class="accordion-content">
									  <p>
										Chose the size and orientation that will fit perfectly to your needs in standard sizes A4 (21x29.7cm), A3 (29.7x42cm), A2 (42x59.4cm)
									  </p>
									</div>
								  </div>
								  
				
			</header>

		</main>

		<ContactCTA />
	</div>
</BaseLayout>

<style>
	.hero {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 2rem;
	}

	.roles {
		display: none;
	}

	.hero img {
		aspect-ratio: 5 / 4;
		object-fit: cover;
		object-position: top;
		border-radius: 1.5rem;
		box-shadow: var(--shadow-md);
	}

	@media (min-width: 50em) {
		.hero {
			display: grid;
			grid-template-columns: 6fr 4fr;
			padding-inline: 2.5rem;
			gap: 3.75rem;
		}

		.roles {
			margin-top: 0.5rem;
			display: flex;
			gap: 0.5rem;
		}

		.hero img {
			aspect-ratio: 3 / 4;
			border-radius: 4.5rem;
			object-fit: cover;
		}
	}

	/* ====================================================== */

	.section {
		display: grid;
		gap: 2rem;
	}

	.with-background {
		position: relative;
	}

	.with-background::before {
		--hero-bg: var(--bg-image-subtle-2);

		content: "";
		position: absolute;
		pointer-events: none;
		left: 50%;
		width: 100vw;
		aspect-ratio: calc(2.25 / var(--bg-scale));
		top: 0;
		transform: translateY(-75%) translateX(-50%);
		background: url("/assets/backgrounds/noise.png") top center/220px repeat,
			var(--hero-bg) center center / var(--bg-gradient-size) no-repeat,
			var(--gray-999);
		background-blend-mode: overlay, normal, normal, normal;
		mix-blend-mode: var(--bg-blend-mode);
		z-index: -1;
	}

	.with-background.bg-variant::before {
		--hero-bg: var(--bg-image-subtle-1);
	}

	.section-header {
		justify-self: center;
		text-align: center;
		max-width: 50ch;
		font-size: var(--text-md);
		color: var(--gray-300);
	}

	.section-header h3 {
		font-size: var(--text-2xl);
	}

	@media (min-width: 50em) {
		.section {
			grid-template-columns: repeat(4, 1fr);
			grid-template-areas: "header header header header" "gallery gallery gallery gallery";
			gap: 5rem;
		}

		.section.with-cta {
			grid-template-areas: "header header header cta" "gallery gallery gallery gallery";
		}

		.section-header {
			grid-area: header;
			font-size: var(--text-lg);
		}

		.section-header h3 {
			font-size: var(--text-4xl);
		}

		.with-cta .section-header {
			justify-self: flex-start;
			text-align: left;
		}

		.gallery {
			grid-area: gallery;
		}

		.cta {
			grid-area: cta;
		}
	}

	/* ====================================================== */

	.mention-card {
		display: flex;
		height: 7rem;
		justify-content: center;
		align-items: center;
		text-align: center;
		border: 1px solid var(--gray-800);
		border-radius: 1.5rem;
		color: var(--gray-300);
		background: var(--gradient-subtle);
		box-shadow: var(--shadow-sm);
	}

	@media (min-width: 50em) {
		.mention-card {
			border-radius: 1.5rem;
			height: 9.5rem;
		}
	}
</style>
